<h3><%= link_to 'Home', '/' %></h3>
<h1>Item Taxes</h1>
<% if(@item_taxes.size > 0) %>
<table>
  <thead>
    <tr>
      <th colspan="1">Id</th>
      <th colspan="2">Tax Type</th>
      <th colspan="1">Tax</th>
      <th colspan="2">Item</th>
      <th colspan="2">Created At</th>
      <th colspan="2">Updated At</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @item_taxes.each do |item_tax| %>
      <tr>
        <td colspan="1"> <%= item_tax.id %> </td>
        <td colspan="2"> <%= item_tax.tax_type %> </td>
        <td colspan="1"> <%= item_tax.tax %> </td>
        <td colspan="2"> <%= item_tax.item.name %></td>
        <td colspan="2"> <%= item_tax.created_at %> </td>
        <td colspan="2"> <%= item_tax.updated_at %> </td>
        <td><%= link_to 'Show', item_tax %>
          <%= link_to 'Edit', edit_item_tax_path(item_tax) %>
          <%= link_to 'Destroy', item_tax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h3>No records found</h3>
<% end %>
<br>

<%= link_to 'New Item Tax', new_item_tax_path %>
