<h3><%= link_to 'Home', '/' %></h3>

<h1>Items</h1>
<% if(@items.size > 0) %>
<table>
  <thead>
    <tr>
      <th colspan="1">Id</th>
      <th colspan="2">Name</th>
      <th colspan="1">Rate</th>
      <th colspan="2">Item Category</th>
      <th colspan="2">Created At</th>
      <th colspan="2">Updated At</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td colspan="1"> <%= item.id %> </td>
        <td colspan="2"> <%= item.name %> </td>
        <td colspan="1"> <%= item.rate %> </td>
        <td colspan="2"> <%= item.item_category.name %></td>
        <td colspan="2"> <%= item.created_at %> </td>
        <td colspan="2"> <%= item.updated_at %> </td>
        <td colspan="2"><%= link_to 'Show', item %>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h3>No records found</h3>
<% end %>
<br>

<%= link_to 'New Item', new_item_path %>
