<h3><%= link_to 'Home', '/' %></h3>
<p id="notice"><%= notice %></p>
<h2><b>Item</b></h2>
<h3><%= @item.name %></h3>
<p>Rate: <%= @item.rate %></p>
<p>Category: <%= @item.item_category.name %></p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
